@model IEnumerable<Drivo.Models.DrivingSchool>

@{
    ViewBag.Title = "Index";
}

<h2>List of all the Driving Schools</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@foreach (var item in Model)
{

    <div class="row">
        <div class="col-xs-10">

            <div class="row">
                <div class="hidden-xs col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="~/Content/Image/driving_schools_art.jpg" alt="Driving School's' profile picture'">
                    </a>
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left"></h3>

                            <div class="list-group" style="padding-bottom:0">
                                <div class="list-group-item">
                                    <p class="list-group-item-text">Driving School's Name</p>
                                    <h4 class="list-group-item-heading instructor-card-name">@Html.DisplayFor(modelItem => item.Name)</h4>
                                    <a class="btn btn-primary pull-right" href="/DrivingSchools/Edit/@item.DrivingSchoolId" style="margin-top:-19px">
                                        <i class="fa fa-pencil" style="margin-right:2px"></i>
                                        Edit
                                    </a>
                                    <a class="btn btn-success pull-right" href="/DrivingSchools/Details/@item.DrivingSchoolId" style="margin-top:-19px;margin-right:15px">
                                        <i class="fa fa-info" aria-hidden="true" style="margin-right:2px"></i>
                                        Details
                                    </a>
                                </div>
                                <div class="list-group-item">
                                    <p class="list-group-item-text">Provides driving lessons for</p>
                                    <h4 class="list-group-item-heading">@Html.DisplayFor(modelItem => item.Licences_training_for)</h4>
                                </div>
                                <div class="list-group-item">
                                    <p class="list-group-item-text">@Html.DisplayFor(modelItem => item.About)</p>
                                    <p class="list-group-item-text"><b>Province:</b> @Html.DisplayFor(modelItem => item.Province)</p>
                                    <p class="list-group-item-text"><b>Cities:</b> @Html.DisplayFor(modelItem => item.Cities_of_operation)</p>
                                </div>
                                <div class="panel-footer" style="padding-bottom:0">
                                    <p class="list-group-item-text pull-left" style="margin-top:10px;display:inline-block">
                                        @{
                                            if (item.Email != null)
                                            {
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i> @Html.DisplayFor(modelItem => item.Email)
                                            }

                                            if (item.PhoneNumber != null)
                                            {
                                                if (item.Email != null)
                                                {
                                                    <span style="margin-right:3px;margin-left:3px"> | </span>
                                                }
                                                <i class="fa fa-phone" aria-hidden="true"></i> @Html.DisplayFor(modelItem => item.PhoneNumber)
                                            }
                                        }
                                    </p>
                                    <a class="btn btn-danger pull-right" href="/DrivingSchools/Delete/@item.DrivingSchoolId">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="margin-right:2px"></i>
                                        Delete
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <hr />
}
