@model Drivo.Models.Instructor
@using Drivo.Models

@{
    ViewBag.Title = "Register";
}

<h2>Driving Instructors</h2>

<div id="instructors_navigation"></div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="container">
        <h4>Register as a new Instructor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
            @Html.LabelFor(model => model.InstructorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InstructorId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InstructorId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <h2 class="page-header">Please fill the details about yourself: </h2>

        <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-10">

                @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-2" })
                <div class="col-xs-12 col-md-4">
                    @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                    @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-2" })
                <div class="col-xs-12 col-md-4">
                    @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                    @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">

                @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-2" })
                <div class="col-xs-12 col-md-4">
                    @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @min = "1937-12-12", @max = "1998-12-12" } })
                    @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-xs-12 col-sm-2" })
                <div class="col-xs-12 col-md-4">
                    <!-- Generating a select form element for Gender options -->
                    @Html.DropDownListFor(model => model.Gender, new List<SelectListItem> {
                       new SelectListItem { Value = "M" , Text = "Male" },
                       new SelectListItem { Value = "F" , Text = "Female" },
                       new SelectListItem { Value = "O" , Text = "Other" }
                    }, "Select your gender", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>

            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-md-4" for="Driving_instructor_licence">Do you have a valid <a href="https://drivetest.ca/licences/driving-instructors.html" style="color:inherit"><u>Driving Instructor Licence</u></a>:</label>
            <div class="col-md-8" style="padding-top:11px">
                    Yes @Html.RadioButtonFor(model => model.Driving_instructor_licence, "Y")
                    No @Html.RadioButtonFor(model => model.Driving_instructor_licence, "N")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Working_since, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Working_since, new { htmlAttributes = new { @class = "form-control", @min = "1955-12-12", @max = "2017-06-01", @style = "display:inline-block" } })
                @Html.ValidationMessageFor(model => model.Working_since, "", new { @class = "text-danger" })
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="How many years have you been working as an instructor?" style="color:#222;background-color:#fff;border:0"><i class="fa fa-lg fa-info-circle" aria-hidden="true"></i></button>
            </div>
        </div>

        <div class="form-group text-left">
            @Html.LabelFor(model => model.About, "Tell us a little about yourself: ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.About, 5, 50, htmlAttributes: new { @class = "form-control", @placeholder="This is what the people will see on your profile. Be concise and try to explain all the services you provide.", @style = "max-width:unset" })
                @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Licences_held, "List the category or class of vehicle licences you currently own (example: G2, class 7, M)", htmlAttributes: new { @class = "control-label col-md-7" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Licences_held, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Licences_held, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Licences_training_for, "List the category or class of vehicle licences you provide training for", htmlAttributes: new { @class = "control-label col-md-7" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.Licences_training_for, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Licences_training_for, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Province, "Select the Province you primarly work in", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!-- Generating a select form element for Province options -->
                @Html.DropDownListFor(model => model.Province, new List<SelectListItem> {
                       new SelectListItem { Value = "ONTARIO" , Text = "Ontario" },
                       new SelectListItem { Value = "NEWFOUNDLAND AND LABRADO" , Text = "Newfoundland and Labrado" },
                       new SelectListItem { Value = "PRINCE EDWARD ISLAND" , Text = "Prince Edward Island" },
                       new SelectListItem { Value = "BRITISH COLUMBIA" , Text = "British Columbia" },
                       new SelectListItem { Value = "MANITOBA" , Text = "Monitoba" },
                       new SelectListItem { Value = "NEW BRUNSWICK" , Text = "New Brunswick" },
                       new SelectListItem { Value = "NOVA SCOTIA" , Text = "Nova Scotia" },
                       new SelectListItem { Value = "QUEBEC" , Text = "Quebec" }

                    }, "Select a Province", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cities_of_operation, "Cities you work in (seperated by commas)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Cities_of_operation, 3, 50, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cities_of_operation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vehicles_used, "Vehicles you use for training", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vehicles_used, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vehicles_used, "", new { @class = "text-danger" })
            </div>
        </div>

            <h3 class="page-header">Account information:</h3>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @style = "display:inline-block" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="This is the name you will use to login." style="color:#222;background-color:#fff;border:0"><i class="fa fa-lg fa-info-circle" aria-hidden="true"></i></button>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PasswordHash, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.PasswordHash, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PasswordHash, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register as an Instructor" class="btn btn-default" />
            </div>
        </div>
    </div>
  </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();


            $('#instructors_navigation').load('@Url.Action("InstructorsNavigation", "Instructors")');
        })
    </script>
}
