@model Drivo.Models.Instructor

@{
    ViewBag.Title = "Details";
}

<h2>Instructor Details</h2>
<div id="instructors_navigation"></div>

<div>
    <hr />


    <div class="row">
        <div class="col-xs-10">

            <div class="row">
                <div class="hidden-xs col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="~/Content/Image/img_avatar3.png" alt="Instructor's profile picture'">
                    </a>
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title pull-left"></h3>

                            <div class="list-group" style="padding-bottom:0">
                                <div class="list-group-item">
                                    <p class="list-group-item-text">Instructors Name</p>
                                    <h4 class="list-group-item-heading instructor-card-name">@Html.DisplayFor(model => model.Firstname) @Html.DisplayFor(model => model.Lastname)</h4>
                                    <a class="btn btn-primary pull-right" href="/Instructors/Edit/@Model.InstructorId" style="margin-top:-19px">
                                        <i class="fa fa-pencil" style="margin-right:2px"></i>
                                        Edit
                                    </a>
                                    <a class="btn btn-success pull-right" href="/Instructors/Details/@Model.InstructorId" style="margin-top:-19px;margin-right:15px">
                                        <i class="fa fa-info" aria-hidden="true" style="margin-right:2px"></i>
                                        Details
                                    </a>
                                </div>
                                <div class="list-group-item">
                                    <p class="list-group-item-text">Provides driving lessons for</p>
                                    <h4 class="list-group-item-heading">@Html.DisplayFor(model => model.Licences_training_for)</h4>
                                </div>
                                <div class="list-group-item">
                                    <p class="list-group-item-text">@Html.DisplayFor(model => model.About)</p>
                                    <p class="list-group-item-text"><b>Province:</b> @Html.DisplayFor(model => model.Province)</p>
                                    <p class="list-group-item-text"><b>Cities:</b> @Html.DisplayFor(model => model.Cities_of_operation)</p>
                                </div>
                                <div class="panel-footer" style="padding-bottom:0">
                                    <p class="list-group-item-text pull-left" style="margin-top:10px;display:inline-block">
                                        @{
                                            if (Model.Email != null)
                                            {
                                                <i class="fa fa-envelope-o" aria-hidden="true"></i> @Html.DisplayFor(model => model.Email)
                                            }

                                            if (Model.PhoneNumber != null)
                                            {
                                                if (Model.Email != null)
                                                {
                                                    <span style="margin-right:3px;margin-left:3px"> | </span>
                                                }
                                                <i class="fa fa-phone" aria-hidden="true"></i> @Html.DisplayFor(model => model.PhoneNumber)
                                            }
                                        }
                                    </p>
                                    <a class="btn btn-danger pull-right" href="/Instructors/Edit/@Model.InstructorId">
                                        <i class="fa fa-trash-o" aria-hidden="true" style="margin-right:2px"></i>
                                        Delete
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <hr />

    <h3 class="page-header">Additional Details</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>@Html.DisplayNameFor(model => model.DOB)</th>
                <th>Working Since</th>
                <th>@Html.DisplayNameFor(model => model.Licences_held)</th>
                <th>Gender</th>
                <th>@Html.DisplayNameFor(model => model.Driving_instructor_licence)</th>
                <th>@Html.DisplayNameFor(model => model.Vehicles_used)</th>
            </tr>
            <tr>
                    <td>@Html.DisplayFor(model => model.DOB)</td>
                    <td>@Html.DisplayFor(model => model.Working_since)</td>
                    <td>@Html.DisplayFor(model => model.Licences_held)</td>
                    <td>@Html.DisplayFor(model => model.Gender)</td>
                    <td>@Html.DisplayFor(model => model.Driving_instructor_licence)</td>
                    <td>@Html.DisplayFor(model => model.Vehicles_used)</td>
                </tr>
        </table>
    </div>
   
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InstructorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();


            $('#instructors_navigation').load('@Url.Action("InstructorsNavigation", "Instructors")');
        })
    </script>
}